<ul class="nav navbar-nav navbar-right">
    <li>@Html.Partial("_Language")</li>
    @if (this.Context.GetUserManager().GetCurrentUser() != null)
    {
        <li>
            @Html.ActionLink("Hello ".Localize() + this.Context.GetUserManager().GetCurrentUser().Name + "!", "Index", "Home", routeValues: new { area = "User" }, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">@("Log off".Localize())</a>
            @using (Html.BeginForm("LogOff", "Authorize", new { area = "User", returnUrl = Url.Action("Index", "Home") }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken();
            }
        </li>
    }
    else
    {
        <li> <a href="~/User/Authorize/" id="loginLink">@("Log in".Localize())</a> </li>
    }
</ul>
